.header__subtitle {
  font-family: 'Press Start 2P', cursive;
  max-width: 690px;
  z-index: 3;
  margin: 0 64px 30px 64px;
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
}

@media (max-width: 767px) {
  .header__subtitle {
    text-align: center;
    margin: 0 30px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
  }
}

@media (max-width: 479px) {
  .header__subtitle {
    margin: 0 15px;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
  }
}
