.my-opinion__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  max-width: 750px;
  margin: 0 auto 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .my-opinion__text {
    font-size: 23px;
    line-height: 29px;
  }
}

@media (max-width: 479px) {
  .my-opinion__text {
    font-size: 20px;
    line-height: 26px;
  }
}
