.quote__title {
  max-width: 650px;
  font-size: 23px;
  font-weight: normal;
  line-height: 31px;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .quote__title {
    font-size: 21px;
    line-height: 28px;
  }
}

@media (max-width: 479px) {
  .quote__title {
    font-size: 19px;
    line-height: 25px;
  }
}
