.blog__article-name {
  font-weight: 500;
  font-size: 30px;
  line-height: 147%;
  display: inline-block;
  margin: 0px 0px 10px 0px;
}

@media (max-width: 767px) {
  .blog__article-name {
    text-align: center;
    font-size: 26px;
  }
}

@media (max-width: 479px) {
  .blog__article-name {
    font-size: 23px;
  }
}
