.tool__subtitle {
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  margin: 15px 0 0 0;
}

@media (max-width: 767px) {
  .tool__subtitle {
    font-size: 25px;
    line-height: 31px;
  }
}

@media (max-width: 479px) {
  .tool__subtitle {
    font-size: 22px;
    line-height: 27px;
  }
}
