.title {
  background: rgb(17, 17, 17);
  margin: 55px auto 0;
  padding: 10px 15px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: white;
}

@media (max-width: 767px) {
  .title {
    margin: 0 auto;
  }
}
