.preface__text {
  font-size: 23px;
  font-weight: normal;
  line-height: 33px;
  max-width: 1300px;
  margin: 30px 50px 0 50px;
}

@media (max-width: 767px) {
  .preface__text {
    margin: 20px 30px 0 30px;
    font-size: 21px;
    line-height: 28px;
  }
}

@media (max-width: 479px) {
  .preface__text {
    margin: 20px 15px 0 15px;
    font-size: 20px;
    line-height: 25px;
  }
}
