.footer__content {
  padding: 60px 0;
  border-top: 1px solid white;
}

@media (max-width: 767px) {
  .footer__content {
    padding: 50px 0;
  }
}

@media (max-width: 479px) {
  .footer__content {
    padding: 40px 0;
  }
}
