.quote__text {
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  padding: 0;
  margin: 20px 0 0 20px;
}

.quote__text p {
  margin: 0;
}

@media (max-width: 767px) {
  .quote__text {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 479px) {
  .quote__text {
    margin: 20px 0 0 10px;
    font-size: 18px;
    line-height: 23px;
  }
}
