.blog__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 15px 0 0 30px;
}

@media (max-width: 767px) {
  .blog__text {
    margin: 15px 0 0 15px;
    font-size: 17px;
  }
}

@media (max-width: 479px) {
  .blog__text {
    font-size: 16px;
  }
}
