.research__text {
  max-width: 1000px;
  margin: 20px 0 0 0;
  font-size: 21px;
  font-weight: normal;
  line-height: 27px;
  text-align: left;
}

@media (max-width: 767px) {
  .research__text {
    text-align: center;
    font-size: 19px;
    line-height: 26px;
  }
}

@media (max-width: 479px) {
  .research__text {
    font-size: 17px;
    line-height: 22px;
  }
}
