.footer__icon {
  display: block;
}

.icon_type_instagram {
  background-image: url('../../../images/icon-instagram.png');
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  margin: 0 30px 0 0;
}

.icon_type_vk {
  background-image: url('../../../images/icon-vk.png');
  height: 60px;
  width: 60px;
  background-size: 60px 60px;
}
