.quote {
  max-width: 1000px;
  padding: 50px 60px 150px 60px;
}

@media (max-width: 767px) {
  .quote {
    padding: 40px 30px 90px 30px;
  }
}

@media (max-width: 479px) {
  .quote {
    padding: 30px 15px 90px 15px;
  }
}
